In [2]:
import pandas as pd
import datetime

In [21]:
path_to_file = '/home/seba/Escritorio/Datos/'
fileDf = pd.read_csv(path_to_file + 'scrubbed.csv', low_memory=False)

In [4]:
# tipos de las columnas del DataFrame
fileDf.dtypes

datetime                 object
city                     object
state                    object
country                  object
shape                    object
duration (seconds)       object
duration (hours/min)     object
comments                 object
date posted              object
latitude                 object
longitude               float64
dtype: object

In [24]:
# Convierto el tipo de las columnas duration (seconds) y datetime
fileDf['duration (seconds)'] = pd.to_numeric(fileDf['duration (seconds)'], errors = 'coerce')
fileDf['datetime'] = pd.to_datetime(fileDf['datetime'], errors = 'coerce')

In [28]:
# Avistajes mas largos
fileDf.nlargest(1,'duration (seconds)')

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
559,1983-10-01 17:00:00,birmingham (uk/england),NaN,gb,sphere,97836000.0,31 years,Firstly&#44 I was stunned and stared at the ob...,4/12/2013,52.466667,-1.916667

In [29]:
# Avistajes mas cortos
fileDf.nsmallest(1,'duration (seconds)')

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
4081,2008-10-23 04:45:00,remote,wy,NaN,flash,0.001,0.001sec,brilliant strobe light at 4am&#44 moving light...,1/10/2009,-46.163992,169.87505

In [36]:
# Estados que mas se repiten
fileDf.groupby('state').size().nlargest(5)

state
ca    9655
wa    4268
fl    4200
tx    3677
ny    3219
dtype: int64

In [39]:
# Marzo 2007 - Avistajes mas cortos
fileDf.set_index('datetime').loc['2007-03-01':'2007-03-31',:].nsmallest(1,'duration (seconds)')

,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
datetime,,,,,,,,,,
2007-03-22 22:15:00,corvallis,or,us,light,1.0,one-half second,Round&#44 white light with halo effect appear...,4/27/2007,44.5647222,-123.260833

In [45]:
# Washington, DC - Shapes
wash = fileDf.loc[(fileDf['city']=='washington') & (fileDf['state']== 'dc'),:]
wash.groupby('shape').size().nlargest(5)

shape
changing    1
cylinder    1
fireball    1
light       1
other       1
dtype: int64

In [12]:
# Canada 2010 - Cantidad Registros
can = fileDf.loc[fileDf['country']=='ca',:]
can = can.set_index('datetime').loc['2010-01-01':'2010-12-31',:]
can.shape

(137, 10)

In [49]:
# Enero 2005 - Avistajes mas largos
fileDf.set_index('datetime').loc['2005-01-01':'2005-01-31'].nlargest(5,'duration (seconds)')

,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
datetime,,,,,,,,,,
2005-01-15 12:00:00,baker city,or,us,other,86400.0,everyday,Lessons learned,1/19/2005,44.7750000,-117.833333
2005-01-01 03:00:00,ocean shores,wa,us,flash,14400.0,4hrs,thier were ligth flashing &#44moving in all di...,1/11/2005,46.9738889,-124.155000
2005-01-15 19:30:00,ocala (n and s of),fl,us,triangle,12600.0,3.5 hours,Multiple types of objects in night sky of cent...,1/19/2005,29.1869444,-82.140278
2005-01-15 03:20:00,atlanta,tx,us,other,7200.0,2 hours,STRANGE LIGHTNING,2/8/2005,33.1136111,-94.164167
2005-01-19 18:30:00,jacksonville,fl,us,sphere,7200.0,2 hours,These are accounts of several personal UFO and...,5/15/2006,30.3319444,-81.655833

In [50]:
# Los Angeles, CA - Shapes
fileDf.loc[(fileDf['state']=='ca') & (fileDf['city']=='los angeles'),:].groupby('shape').size().nlargest(5)

shape
light       63
circle      36
triangle    30
disk        29
fireball    29
dtype: int64

In [72]:
# USA 2000 - Cantidad Registros
usa2000 = fileDf.loc[fileDf['country']=='us',:]
usa2000 = usa2000.set_index('datetime').loc['2000-01-01':'2001-01-01']
usa2000.shape

(2184, 10)

In [75]:
# Shape Chevron cantidad
fileDf.groupby('shape').size().sort_values(ascending = False)

shape
light        16565
triangle      7865
circle        7608
fireball      6208
other         5649
unknown       5584
sphere        5387
disk          5213
oval          3733
formation     2457
cigar         2057
changing      1962
flash         1328
rectangle     1297
cylinder      1283
diamond       1178
chevron        952
egg            759
teardrop       750
cone           316
cross          233
delta            7
round            2
crescent         2
pyramid          1
dome             1
flare            1
hexagon          1
changed          1
dtype: int64

In [17]:
# Vancouver en Top20 ---> No
top20 = fileDf.sort_values('duration (seconds)', ascending = False).head(20)
top20.loc[top20['city']=='vancouver',:]

Empty DataFrame
Columns: [datetime, city, state, country, shape, duration (seconds), duration (hours/min), comments, date posted, latitude, longitude ]
Index: []

In [77]:
# Montana, USA - Shapes
montana = fileDf.loc[fileDf['state']=='mo',:]
montana.groupby('shape').size().sort_values(ascending = False)

shape
light        328
triangle     192
fireball     132
unknown      118
other        115
sphere       113
circle       110
disk         102
oval          61
cigar         56
cylinder      37
changing      34
chevron       28
formation     26
diamond       23
rectangle     23
flash         15
teardrop      14
egg            9
cone           5
cross          4
delta          1
dtype: int64

In [19]:
# Cantidad y Porcentaje Shapes
fileDf['shape'].value_counts(normalize = True)

light        0.211288
triangle     0.100319
circle       0.097041
fireball     0.079184
other        0.072054
unknown      0.071224
sphere       0.068712
disk         0.066492
oval         0.047615
formation    0.031339
cigar        0.026237
changing     0.025026
flash        0.016939
rectangle    0.016543
cylinder     0.016365
diamond      0.015026
chevron      0.012143
egg          0.009681
teardrop     0.009566
cone         0.004031
cross        0.002972
delta        0.000089
crescent     0.000026
round        0.000026
changed      0.000013
flare        0.000013
hexagon      0.000013
dome         0.000013
pyramid      0.000013
Name: shape, dtype: float64

In [20]:
# Cantidad Paises
fileDf['country'].value_counts()

us    65114
ca     3000
gb     1905
au      538
de      105
Name: country, dtype: int64